# Data Science Tools and Econystem

In this notebook, Data Science Toolds and Ecosystem are summarized.

__Objectives__:
- List popular languages for Data Science.
- List commonly used libraries used by Data Scientist.
- Write an expression that multiply and add numbers.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
| --- |
| RStudio |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Kentaro Yumigeta